{
  "env": {
    "browser": true,
    "commonjs": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["jest", "@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": "webpack"
  },
 "ignorePatterns": ["node_modules/"],
  "extends": [ "airbnb" ],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
    "react/jsx-props-no-spreading": ["warn"],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["state"] }],
    "import/extensions": ["error", "ignorePackages",
      {
        "js": "never",
        "mjs": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
